/node_modules
/public/hot
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/*.key
/vendor
/.styleci.yml
/.phpunit.result.cache
/.php-cs-fixer.cache
/package.json
/phpunit.xml
/README.md
/phpspec.yml
/npm-debug.log
/yarn-error.log
/.github
/.git
/.idea
/.vscode
**.editorconfig
**.gitattributes
**.gitignore
